<button pButton type="button" (click)="logout()">Logout</button>

<h1 class="text-center">Your Todo List</h1>

<div class="mt-5">

  <div class=" d-flex flex-row mb-4 p-3">
  <label class="fw-bold mt-2 " for="button"> Add New Todo</label>
  <br>
  <button
  class="mb-4 mr-5"
    *ngIf="isUserAuthenticated"
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    class="p-button-rounded"
    (click)="openTodoForm()">
  </button>
</div>

  <p-dialog [(visible)]="isAddingTodo">
    <app-todo-form [todo]="null" (onSave)="addTodo($event)"></app-todo-form>
  </p-dialog>

  <div class="p-30">
    <p-pickList class="p-30"
      [source]="pendingTodos"
      [target]="doneTodos"
      [dragdrop]="true"
      (onMoveToTarget)="completeTodos()"
      (onMoveToSource)="reopenTodos()"
      (onMoveAllToTarget)="completeTodos()"
      (onMoveAllToSource)="reopenTodos()">
      <ng-template let-todo pTemplate="item">
        <div>
          <i *ngIf="todo.is_done" class="pi pi-check"></i>
          <i *ngIf="!todo.is_done" class="pi pi-times"></i>
          {{ todo.title }}


          <!-- get todos -->
          <p-dialog header="{{ todo.title }}" [(visible)]="todo == visibleTodo">
            {{ todo.body }}
          </p-dialog>

          <!-- update todo -->
          <p-dialog [(visible)]="todo == updatedTodo">
            <app-todo-form [todo]="todo" (onSave)="refreshTodo($event)"></app-todo-form>
          </p-dialog>


          <div class="d-flex justify-content-end">
            <button
            class="mx-2"
              type="button"
              pButton
              (click)="showDetails(todo)"
              icon="pi pi-eye"
              label="Show">
            </button>

            <button
              pButton
              class="mx-2"
              type="button"
              (click)="updateTodo(todo)"
              icon="pi pi-pencil"
              label="Edit">
            </button>

            <button
              pButton
              class="mx-2"
              type="button"
              (click)="deleteTodo(todo)"
              icon="pi pi-trash"
              label="Delete">
            </button>
          </div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
</div>
